form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

h3 {
  margin: 0px;
}

input[type="file"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
}